[submodule "frontend"]
	path = frontend
	url = https://github.com/elainevoice/frontend.git
	branch = master
[submodule "scripts"]
	path = scripts
	url = https://github.com/elainevoice/scripts.git
	branch = master
